button#stateToggle[state="play"] {
  background-image: url(../images/media-pause.svg);
}

button#stateToggle[state="pause"] {
  background-image: url(../images/media-play.svg);
}

.thumbButton#github {
  left: 9px;
  background-image: url(../images/github.png);
  background-size: 20px;
  background-repeat: no-repeat;
}

span.offscreen {
  left: -1000px;
  position: absolute;
}

#nowPlaying {
  font-weight: bold;
}

.thumbButton {
  border: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  right: 9px;
  top: 10px;
  box-shadow: #646464 0 0 6px 0px;
  background-position: center;
  outline: 0;
  cursor: pointer;
  background-repeat: repeat;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  position: absolute;
}

body {
  padding: 7px;
  margin:1px;
  font-family: 'Open Sans';
  background: url(../images/bg.jpg);
  background-repeat: repeat;
  color:#fff;
  height: fit-content;
  font-size: 75%;
}

html {
  height: fit-content;
  width: 325px;
  width: -moz-fit-content;
}

.vol {
  margin-top: 3px;
}

h1 {
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}

label {
  margin-bottom: 5px;
  margin-top: 10px;
  display: block;
}

label:nth-last-child() {
  margin-bottom: 0px;
}

.header {
  background-color: #00000048;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
}

.hidden {
  display: none;
}

.kkCheckbox input {
  position: relative;
  top: 3px;
}

.gmCheckbox input {
  position: relative;
  top: 3px;
}

input#grandfather {
  position: relative;
  top: 2px;
}

.content {
  margin-top: 48px;
  text-align: center;
}

.vol {
  margin-top: 14px;
  margin-left: 17px;
}

label[for="volume"] {
  text-align: center;
  margin-top: 0px;
}

label[for="rain"] {
  margin-top: 6px;
}

.volumeBlock {
  display: inline-block;
}

input#rainCheckbox {
  position: relative;
  top: 2px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  background: #dedede;
}

input[type=range]::-moz-range-track {
  height: 8.4px !important;
  cursor: pointer;
  background-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 18px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  transition: all 0.5s ease;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 18px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  transition: all 0.5s ease;
}

input[type=range]:focus::-webkit-slider-runnable-track, input[type=range]:focus::-moz-range-track {
  background: #fff;
}

select {
  border-radius: 5px;
  background-color: #fff !important;
  border: 3px white solid
}

a.back {
  position: absolute;
  top: 5px;
  left: 8px;
}

label.kkCheckbox {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  width: 154px;
  height: 20px;
  margin-bottom: -2px;
}

label.gmCheckbox {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  width: 154px;
  height: 20px;
  margin-bottom: -2px;
}

label.kkCheckbox.last {
  margin-bottom: 13px;
}

label.kkCheckbox.right {
  float: right;
}

.kkCheckbox span {
  text-overflow: ellipsis;
}

label.gmCheckbox.last {
  margin-bottom: 13px;
}

label.gmCheckbox.right {
  float: right;
}

.gmCheckbox span {
  text-overflow: ellipsis;
}

a {
  color: #fff;
  font-weight: bold;
}

.kkSliderSonglistPage, .grandfatherModeHoursPage {
  display: none;
}

.kkSliderSonglistPage.active, .grandfatherModeHoursPage.active {
  display: block;
}

.kkSliderSonglistPage .content, .grandfatherModeHoursPage .content {
  text-align: unset;
}

button.checkButtons {
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 0;
  margin-bottom: 6px;
  margin-top: 4px;
  background: #fff;
}

.kkSliderSonglistPage .content .buttonContainer, .grandfatherModeHoursPage .content .buttonContainer {
  text-align: center;
}